<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135230544-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-135230544-1',  { 'anonymize_ip': true });
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/favicon/favicon-16x16.png" type="image/png">


        <link rel="stylesheet" href="/css/fonticons.css">
        <link rel="stylesheet" href="/css/stylesheet.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <!--For Plugins external css-->
        <link rel="stylesheet" href="/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/css/responsive.css" />

    </head>
    <body class="d-flex flex-column h-100">
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-dark" style="height:60px">
            <button class="navbar-toggler" style="visibility: hidden;" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            {{!-- <a class="navbar-brand title pointer" href="#">Fermynt</a> --}}
            <a class="navbar-brand title" href="https://www.fermynt.com/" target="_blank">
                <img src="/img/logo_new.png" height="50" alt="Fermynt"/>
            </a>
        </nav>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Search Text box -->
        <div class="container topSpace">
            <div class="row justify-content-center">
                <div class="col-9">
                    <div class="input-group mb-3">
                        <input type="text" id='txtSearchProduct' class="form-control" aria-label="Search Products" placeholder="Rechercher">
                        <div class="input-group-append">
                            <span  id='btnSearchProduct' class="input-group-text">&nbsp;<i class="fa fa-search" aria-hidden="true"></i>&nbsp;</span>
                        </div>
                    </div>
                </div>
                 <div class="col-3 verysmallScreen" style="padding-top:5px;">
                     <span class="listgridIcon" id="lnkGridView"><i class="fa fa-th-large" aria-hidden="true"></i></span> &nbsp; | &nbsp; <span class="listgridIcon" id="lnkListView"><i class="fa fa-th-list" aria-hidden="true"></i></span>
                 </div>
            </div>
        </div>

         <div class="container">
            <div class="row" id="listOfProductRowGrid">
            </div>
            <div id="listOfProductRowList">

            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-12 text-center">
                    <button class="btn btn-outline-success" id="btnLoadMoreProd">Load more products</button>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <p class="text-center" id="errorMsgOfprod"></p>
                </div>
            </div>
        </div>

        <!-- START SCROLL TO TOP  -->
        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!--Footer Starts-->
        <footer>
            <div class="container-fluid">
                <p class="copyright text-center">
                    <a href="https://termsfeed.com/privacy-policy/aea4db6907ef44383eb4b76f91cfc93f" target="_blank" alt="Privacy Policy"> Privacy Policy </a> &nbsp;|&nbsp;
                    <a href="https://termsfeed.com/cookies-policy/fa83048ce1055200471400cdcf5c93c0" target="_blank" alt="Privacy Policy"> Cookies Policy </a><br/>
                    Copyright  &copy; <script>document.write((new Date()).getFullYear())</script>  <a id="fermynt" href="https://www.fermynt.com">fermynt</a>, All rights reserved.
                </p>
            </div>
        </footer>
        <!--Footer Ends-->

        <div id="overlay"></div>
        <div id="ajaxLoading">
            <img class="Loading_Image" src="/img/ajax-loader.gif">
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
        <script src="/js/appconst.js"></script>
        <script src="/js/winespec.js"></script>

        <script type="text/javascript">
            $(window).scroll(function () {
                if ($(this).scrollTop() > 600) {
                    $('.scrollup').fadeIn('slow');
                } else {
                    $('.scrollup').fadeOut('slow');
                }
            });

            $('.scrollup').click(function () {
                $("html, body").animate({scrollTop: 0}, 1000);
                return false;
            });
        </script>

        <script>
            $( document ).ajaxStart(function() {
                $( "#overlay, #ajaxLoading" ).show();
            });
            $( document ).ajaxStop(function() {
                $( "#overlay, #ajaxLoading" ).hide();
            });
            $(document).ready(function(){
                let totalProductCount = 0;
                let no_of_wine_per_page = 30;
                let total_no_of_page = 0;
                let current_page = 1;
                let defaultParams = {
                    page: current_page,
                    limit: no_of_wine_per_page,
                    sort: -1, //Desc
                    search: '',
                    name: '',
                    sort: {"producer.name": 1}
                };
                if((!!$.getParam('title') && $.getParam('title') !== "undefined" && $.getParam('title') !== "null") &&
                (!!$.getParam('eventAddress1') && $.getParam('eventAddress1') !== "undefined" && $.getParam('eventAddress1') !== "null") &&
                (!!$.getParam('eventAddress2') && $.getParam('eventAddress2') !== "undefined" && $.getParam('eventAddress2') !== "null")  &&
                (!!$.getParam('eventDate') && $.getParam('eventDate') !== "undefined" && $.getParam('eventDate') !== "null") &&
                (!!$.getParam('eventImage') && $.getParam('eventImage') !== "undefined" && $.getParam('eventImage') !== "null") ){
                    $(document).prop('title', $.getParam('title'));
                } else {
                    if(!!$.urlParam('shopid') && $.urlParam('shopid') !== undefined && $.urlParam('shopid') !== 'undefined') {
                        $.ajax({
                            url: app.serverAPI + '/shop/details/'+$.urlParam('shopid'),
                            type: 'GET',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            success: function(response){
                                if(response.status === 'success'){
                                    let eventName = (response.msg.name.toUpperCase()).replace(/AND/g, '&');
                                    $(document).prop('title', eventName);
                                    $.setParam('title', eventName);
                                    const startDate = new Date(response.msg.startDate);
                                    const endDate = new Date(response.msg.endDate);
                                    moment.locale('fr');
                                    $.setParam('eventDate', moment(startDate).format("Do") +" - " + moment(endDate).format("Do") +' '+ moment(endDate).format("MMM") + ' ' +moment(endDate).format("YYYY"));
                                    $.setParam('eventAddress1', response.msg.address.address1);
                                    $.setParam('eventAddress2', response.msg.address.city + ' '+ response.msg.address.zip);
                                    if(!!response.msg.picture){
                                        $.setParam('eventImage',response.msg.picture['sm']);
                                    } else {
                                        $.setParam('eventImage','');
                                    }
                                }
                            }, error: function(xhr, status, error) {
                                alert(xhr.responseJSON.msg);
                            }
                        });
                    }
                }

                let listOfProducts = [];
                let sub_id = !!$.urlParam('sub_id') ? $.urlParam('sub_id') : '';
                let isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
                if(isMobile) {
                     $.setParam('viewtype', 'LIST');
                } else {
                     $.setParam('viewtype', 'GRID');
                }
                if(!sub_id){
                    return false;
                } else {
                    $.setParam('subid',sub_id);
                   //  defaultParams = Object.assign({}, defaultParams, {search :{ 'shop_id' : { '$eq' : shopId } } });
                    const cartItems = !!$.getParam('cartItem') ? JSON.parse($.getParam('cartItem')): [];
                    if(cartItems.length === 0){
                        $('#totalCartItem').html('0');
                    } else {
                        $('#totalCartItem').html(cartItems.length);
                    }
                    defaultParams = Object.assign({}, defaultParams, {search: { 'sub_id': sub_id }});
                    getListOfProduct(defaultParams, sub_id, $.getParam('viewtype'));
                }

                $('#btnLoadMoreProd').on('click', function() {
                    if (current_page < total_no_of_page) {
                        current_page ++;
                        displayViewItem();
                    }
                });

                $('#txtSearchProduct').on("keypress", function(e) {
                    if (e.keyCode == 13) {
                        // TODO AJAX call of search
                        // alert('here');
                        current_page = 1 ;
                        displayViewItem();
                        return false; // prevent the button click from happening
                    }
                });

                $('#btnSearchProduct').on('click', function(e) {
                    displayViewItem();
                    current_page = 1;
                    return false;
                });

                $('#lnkGridView').on('click', function(e) {
                    $.setParam('viewtype', 'GRID');
                    current_page = 1;
                    displayViewItem();
                    return false;
                });

                $('#lnkListView').on('click', function(e) {
                    $.setParam('viewtype', 'LIST');
                    current_page = 1;
                    displayViewItem();
                    return false;
                });

                function displayViewItem() {
                    defaultParams = {
                        page: current_page,
                        limit: no_of_wine_per_page,
                        sort: {"producer.name": 1},
                        search: ''
                    };
                    if($.trim($("#txtSearchProduct").val()) !== ''){
                        // defaultParams = Object.assign({}, defaultParams, {name : $.trim($("#txtSearchProduct").val())});
                        defaultParams = Object.assign({}, defaultParams,{
                            search: {'$and': [{ 'sub_id': sub_id },
                                {
                                    '$or': [{ 'name': { '$regex': '.*' + $("#txtSearchProduct").val() + '.*', '$options': 'i' } },
                                    { 'producer.name': { '$regex': '.*' + $("#txtSearchProduct").val() + '.*', '$options': 'i' } },
                                    { 'attr.region.name': { '$regex': '.*' + $("#txtSearchProduct").val() + '.*', '$options': 'i' } }]
                                }
                            ]}
                        });
                    } else {
                        defaultParams = Object.assign({}, defaultParams, {search: { 'sub_id': sub_id }});
                    }
                    getListOfProduct(defaultParams, sub_id, $.getParam('viewtype'));
                }

                function getListOfProduct(currentParam,sub_id, viewType) {
                    $.ajax({
                        url: app.serverAPI + '/warehouseproducts/subscription/'+sub_id+'/search',
                        data: JSON.stringify(currentParam),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function(response){
                            // console.log('Resp', response);
                            listOfProducts = response.res.docs;
                            totalProductCount = response.res.total;
                            total_no_of_page =  Math.ceil( totalProductCount / no_of_wine_per_page );
                            if (total_no_of_page === currentParam.page || totalProductCount === 0) {
                                $('#btnLoadMoreProd').hide();
                            } else {
                                $('#btnLoadMoreProd').show();
                            }
                            if(!!listOfProducts.length) {
                                let strHtml = '';
                                if ( viewType === 'GRID'){
                                     $.each(listOfProducts, function (index,item) {
                                        strHtml += '<div class="col-6 col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 product onProductTitleclass pointer" data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'">';
                                        strHtml += '<div class="f_p_item onProductTitleclass" data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'">';
                                        strHtml += '<div class="f_p_img onProductTitleclass" data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'">';
                                        if(!! item.logo) {
                                            strHtml += '<img class="img-fluid" src="'+item.logo.md+'" alt="'+item.name+'" data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'">';
                                        } else {
                                            strHtml += '<img class="img-fluid" src="'+app.DEFAULT_WINE_BOTTLE+'" alt="'+item.name+'" data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'">';
                                        }
                                        strHtml += '</div>';
                                        strHtml += '<div class="product_name text-center" data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'">'+item.name+'</div>';
                                        // strHtml += '<h5 class="onProductTitleclass product_price text-center"  data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'"><i class="fa fa-eur onProductTitleclass" aria-hidden="true" data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'"></i>  '+item.pricing.price_w_vat.toFixed(2)+'</h5>';
                                        strHtml += '</div>';
                                        strHtml += '</div>';
                                        $('#listOfProductRowList').html('');
                                        if((currentParam.page === 1) && (index === listOfProducts.length-1)){
                                            $('#listOfProductRowGrid').html(strHtml);
                                            onClickofProductList();
                                        } else if((currentParam.page !== 1) && (index === listOfProducts.length-1)){
                                            $('#listOfProductRowGrid').append(strHtml);
                                            onClickofProductList();
                                        }
                                        $("#errorMsgOfprod").html('');
                                    });
                                } else {
                                    $.each(listOfProducts, function (index,item) {
                                        strHtml +='<div class="row productRow product onProductTitleclass pointer" data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'">';
                                        strHtml +='<div class="col-8 product onProductTitleclass pointer" data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'">';
                                        strHtml += '<div class="product_name1" data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'">'+item.name+'</div>';
                                        // strHtml += '<h5 class="onProductTitleclass product_price1"  data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'"><i class="fa fa-eur onProductTitleclass" aria-hidden="true" data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'"></i>  '+item.pricing.price_w_vat.toFixed(2)+'</h5>';
                                        strHtml += '</div>';
                                        strHtml +='<div class="col-4 f_p_img_list product onProductTitleclass pointer" data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'">';
                                        if(!! item.logo) {
                                            strHtml += '<img class="img-fluid" src="'+item.logo.md+'" alt="'+item.name+'" data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'">';
                                        } else {
                                            strHtml += '<img class="img-fluid" src="'+app.DEFAULT_WINE_BOTTLE+'" alt="'+item.name+'" data-shopProdId="'+item._id+'" data-prodId="'+item.prod_id+'">';
                                        }
                                        strHtml += '</div>';
                                        strHtml += '</div>';
                                        $('#listOfProductRowGrid').html('');
                                        if((currentParam.page === 1) && (index === listOfProducts.length-1)){
                                            $('#listOfProductRowList').html(strHtml);
                                            onClickofProductList();
                                        } else if((currentParam.page !== 1) && (index === listOfProducts.length-1)){
                                            $('#listOfProductRowList').append(strHtml);
                                            onClickofProductList();
                                        }
                                        $("#errorMsgOfprod").html('');
                                    });
                                }
                            } else {
                                if($.trim($("#txtSearchProduct").val()) === ''){
                                    // No Product available
                                     $("#errorMsgOfprod").html('Aucun produit trouvé');
                                } else {
                                    // No Product available for the search
                                    $("#errorMsgOfprod").html('Veuillez affiner votre requête et réessayer.');
                                }
                                $('#listOfProductRowGrid').html('');
                                $('#listOfProductRowList').html('');
                            }
                        }, error: function(xhr, status, error) {
                            alert(xhr.responseJSON.msg);
                        }

                    });
                };

                function onClickofProductList(){
                    $('.onProductTitleclass').on('click', function(event) {
                        const prod_id = event.target.getAttribute('data-prodId');
                        const shop_prod_id = event.target.getAttribute('data-shopProdId');
                       // console.log('prod_id',prod_id,'ws_prod_id',shop_prod_id );
                        window.location.href='./singleprod?wh_prod_id='+shop_prod_id+'&id='+prod_id+"&shopid="+$.urlParam('shopid');
                    });
                }
            });
        </script>
    </body>
</html>
