<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135230544-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-135230544-1',  { 'anonymize_ip': true });
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/favicon/favicon-16x16.png" type="image/png">


        <link rel="stylesheet" href="/css/fonticons.css">
        <link rel="stylesheet" href="/css/stylesheet.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <!--For Plugins external css-->
        <link rel="stylesheet" href="/css/plugins.css" />
        <!--Theme custom css -->
        <link rel="stylesheet" href="/css/style.css">
        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/css/responsive.css" />
    </head>
    <body class="d-flex flex-column h-100">
       <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" style="visibility: hidden;" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand title pointer" href="https://www.fermynt.com/" target="_blank">Fermynt</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                </ul>
            </div>
        </nav>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
         {{!-- <section id="error">
            <div class="container-fluid bg-grey bg-lighten-3">
                <div class="container">
                    <div class="row full-height-vh">
                        <div class="col-md-12 col-lg-3 ml-auto d-flex align-items-center">
                            <div class="row text-center mb-3">
                                <div class="col-12">
                                    <img src="img/openbox.gif" alt="User" width="300">
                                </div>
                                <div class="col-12">
                                    <h4 class="grey darken-2 font-large-5">Félicitations...</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-8 d-flex align-items-center justify-content-center">
                            <div class="error-container">
                                <div class="no-border">
                                    <div class="text-center text-bold-700 grey darken-2 mt-5" style="font-size: 2rem; margin-bottom: 4rem;">vous avez gagné le cadeau.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> --}}
        <section id="lostSession" style="display:none">
            <div class="row" style="margin-top:70px;margin-left: 7px;margin-right: 7px;font-family: opensans;" >
                <div class="col-6">
                    <img src="https://storage.googleapis.com/fermyntstorage/shop-1552033215222-sm.png" id="eventTextImg" alt="Event Image" style="width:160px;">
                </div>
                 <div class="col-6 my-auto text-right verysmallScreen" style="color: #000;font-family: opensans;">
                    {{!-- <div style="font-weight: 600;font-size: 1.0rem;">Prix TTC&nbsp;&nbsp;&nbsp;&nbsp;<span id="strProductPrice1"></span></div> --}}
                    <div id=""><h4>MERCI</h4></div>
                    <div id="">d’être venu découvrir</div>
                    <div id="">EARTH, WINE &FIRE</div>
                </div>
            </div>

            <div class="row text-center" style="margin-top:30px; padding:0 20px;color: #000;font-family: opensans;">
                <div class="col-12">
                    et de votre participation à notre tirage. C’est perdu pour cette fois mais tentez à nouveau votre chance lors d’un prochain événement.
                </div>
            </div>

            <div class="row text-center" style="margin-top:30px;padding:0 20px;color: #000;font-family: opensans;">
                <div class="col-12">
                    Nous espérons que vous apprécierez cette bouteille. Grâce à la puce NFC, vous aurez accès à de nombreuses informations sur ce vin à partir du lundi 18 mars 2019
                </div>
            </div>
        </section>
        <section id="winnerSession" style="display:none">
            <div class="row" style="margin-top:70px;margin-left: 7px;margin-right: 7px;font-family: opensans;" >
                <div class="col-6">
                    <img src="https://storage.googleapis.com/fermyntstorage/shop-1552033215222-sm.png" id="eventTextImg" alt="Event Image" style="width:160px;">
                </div>
                 <div class="col-6 my-auto text-right verysmallScreen" style="color: #000;font-family: opensans;">
                    {{!-- <div style="font-weight: 600;font-size: 1.0rem;">Prix TTC&nbsp;&nbsp;&nbsp;&nbsp;<span id="strProductPrice1"></span></div> --}}
                    <div id=""><h4>MERCI</h4></div>
                    <div id="">d’être venu découvrir</div>
                    <div id="">EARTH, WINE &FIRE</div>
                </div>
            </div>

            <div class="row text-center" style="margin-top:30px; padding:0 20px;color: #000;font-family: opensans;">
                <div class="col-12">
                    et de votre participation à notre tirage. Bravo! Vous avez gagné une bouteille ! Vous avez jusqu’au samedi 16 mars, à 21 heures, pour venir retirer votre bouteille au 36, rue Etienne Marcel, 75002 Paris.
                </div>
            </div>

            <div class="row text-center" style="margin-top:30px;padding:0 20px;color: #000;font-family: opensans;">
                <div class="col-12">
                    Nous espérons que vous apprécierez cette bouteille. Grâce à la puce NFC, vous aurez accès à de nombreuses informations sur ce vin à partir du lundi 18 mars 2019
                </div>
            </div>
        </section>
        <footer style="margin: 70px 0;">
            <div class="container-fluid">
                <p class="copyright text-center">
                    <a href="https://termsfeed.com/privacy-policy/aea4db6907ef44383eb4b76f91cfc93f" target="_blank" alt="Privacy Policy"> Privacy Policy </a> &nbsp;|&nbsp;
                    <a href="https://termsfeed.com/cookies-policy/fa83048ce1055200471400cdcf5c93c0" target="_blank" alt="Privacy Policy"> Cookies Policy </a><br/>
                    Copyright  &copy; <script>document.write((new Date()).getFullYear())</script>  <a id="fermynt" href="https://www.fermynt.com">fermynt</a>, All rights reserved.
                </p>
            </div>
        </footer>
        <div id="fb-root"></div>
        <!--Footer Ends-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js"></script>
        <script src="js/appconst.js"></script>
        <script>
            $(document).ready(function() {
                 var isDisplay = $.getParam('isWinner');
                if((!!isDisplay && isDisplay !== "undefined" && isDisplay !== "null")){
                    if(isDisplay === 'YES'){
                        $("#winnerSession").css('display', 'block');
                        $("#lostSession").css('display', 'none');
                    } else if(isDisplay === 'NO'){
                        $("#winnerSession").css('display', 'none');
                        $("#lostSession").css('display', 'block');
                    }
                }
            });
        </script>
    </body>
</html>